* {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
}

body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}