* {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
}

body {
    background-color: rgb(245, 245, 245);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

h1 {
    margin: 10px 0 -20px 0;
}

img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}