
.about {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--space-5);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);

  max-width: 75rem;
  width: 100%;
}

.title span {
  color: var(--color-primary-500);
}

.info {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
}