
.header {
  padding: var(--space-8);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.logo {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-semibold);
}

.slash {
  color: var(--color-primary-500)
}

.nav {
  display: flex;
  gap: var(--space-3)
}

.link {
  text-decoration: none;
  color: var(--color-neutral-050);
  padding: var(--space-2) var(--space-3)
}

.active {
  background-color: var(--color-neutral-900);
  border-radius: var(--radius-md);
  color: var(--color-primary-300);
}