
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-5);
}

.link {
  text-decoration: none;
  padding: var(--space-2) var(--space-3);
  color: var(--color-neutral-050);
}

.active {
  background-color: var(--color-neutral-900);
  border-radius: var(--radius-md);
  color: var(--color-primary-300);
  box-shadow: var(--shadow-md);
}

.nav {
  display: flex;
  gap: var(--space-3);
}

.logo {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-semibold);
}

.slash {
  color: var(--color-primary-500)
}