.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 80vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-5);

  max-width: 25rem;
}

.image {
  border-radius: 50%;
  border: 0.33rem solid var(--color-primary-500);
  padding: 0.66rem;

  width: 20rem;
  height: auto;
}

.title {
  font-size: var(--text-5xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--text-5xl--line-height);
}

.subtitle {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  color: var(--color-neutral-300);
}

.title, .subtitle {
  text-align: center;
}

.name {
  color: var(--color-primary-500);
}

@media (min-width: 55rem) {

  .content {
    flex-direction: row-reverse;

    max-width: 50rem;
  }

  .title {
    font-size: var(--text-6xl);
  }

  .subtitle {
    font-size: var(--text-xl);
  }

  .title, .subtitle {
    text-align: left;
  }

  .image {
    border: none;
    border-radius: 0;

    width: 30rem;
    height: auto;
  }
}

@media (min-width: 75rem) {

  .content {
    max-width: 70rem;
  }

  .title {
    font-size: var(--text-8xl);
  }

  .subtitle {
    font-size: var(--text-2xl);
  }

  .image {
    width: 40rem;
    height: auto;
  }
}