
.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-5);
}

.projects > :nth-child(1) {
  animation-delay: 0s;
}

.projects > :nth-child(2) {
  animation-delay: 0.1s;
}

.projects > :nth-child(3) {
  animation-delay: 0.2s;
}

.projects > :nth-child(4) {
  animation-delay: 0.3s;
}

.projects > :nth-child(5) {
  animation-delay: 0.4s;
}

.projects > :nth-child(6) {
  animation-delay: 0.5s;
}


@media (min-width: 45rem) {

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 65rem) {

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}