
.link {
  text-decoration: none;
  color: var(--color-neutral-050);
}

.project {
  background-color: var(--color-neutral-800);
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-lg);
  height: 100%;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-bottom: var(--color-primary-500) solid var(--space-2);
}

.body {
  background-color: var(--color-neutral-800);
  padding: var(--space-5);

  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.title {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

.description {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}