
.link {
  text-decoration: none;
  color: var(--color-neutral-050);

  animation: fadeOutTop 0.5s ease both;
}

.project {
  background-color: var(--color-neutral-800);
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-lg);
  height: 100%;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-bottom: var(--color-primary-500) solid var(--space-2);
}

.body {
  background-color: var(--color-neutral-800);
  padding: var(--space-5);

  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.title {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

.description {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

@media (min-width: 45rem) {

  .link {
    animation: fadeInRight 0.5s ease both;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(2rem);
    filter: blur(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutTop {
  0% {
    opacity: 0;
    transform: translateY(2rem);
    filter: blur(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}