
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-8);
  animation: fadeInLeft 0.75s ease both;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-5);

  max-width: 25rem;
  width: 100%;
}

.title {
  font-size: var(--text-3xl);
}

.cards {
  display: flex;
  gap: var(--space-3);
  flex-wrap: wrap;
}

@media (min-width: 55rem) {

  .content {
    max-width: 50rem;

    align-items: start;
  }
}

@media (min-width: 75rem) {

  .content {
    max-width: 70rem;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
    filter: blur(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}