
.skills {
  background-color: var(--color-neutral-950);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-5);

  max-width: 25rem;
  width: 100%;
}

@media (min-width: 55rem) {

  .content {
    max-width: 50rem;

    align-items: start;
  }
}

@media (min-width: 75rem) {

  .content {
    max-width: 70rem;
  }
}