.about {
    display: grid;
    gap: var(--space-5);
    padding: var(--space-5);

    &__heading {
        color: var(--color-neutral-050);
        font-size: var(--text-3xl);
        text-align: center;

        @media (min-width: 50rem) {
            text-align: left;
        }
    }

    &__content {
        display: grid;
        gap: var(--space-4);
        color: var(--color-neutral-050);
    }
}