.about {
    display: grid;
    gap: var(--space-5);
    padding: var(--space-5);

    &__heading {
        color: var(--color-neutral-050);
        font-size: var(--text-4xl);
        text-align: center;

        @media (min-width: 51rem) {
            text-align: left;
        }

        @media (min-width: 75rem) {
            font-size: var(--text-5xl);
            line-height: var(--text-5xl--line-height);
        }
    }

    &__content {
        display: grid;
    }

    &__details {
        display: grid;
        gap: var(--space-5);
    }

    &__text {
        color: var(--color-neutral-300);
        font-size: var(--text-lg);
        line-height: var(--text-lg--line-height);
    }
}