.contact {
    display: grid;
    gap: var(--space-5);
    padding: var(--space-5);

    &__heading {
        color: var(--color-neutral-050);
        font-size: var(--text-4xl);
        text-align: center;

        @media (min-width: 51rem) {
            text-align: left;
        }

        @media (min-width: 75rem) {
            font-size: var(--text-5xl);
            line-height: var(--text-5xl--line-height);
        }
    }

    &__content {
        display: grid;
        gap: var(--space-5);
    }

    &__description {
        font-size: var(--text-lg);
        color: var(--color-neutral-300);
    }

    &__form {
        display: grid;
        gap: var(--space-5);
    }

    &__input {
        background-color: var(--color-neutral-900);
        border: none;
        padding: var(--space-5);
        border-radius: var(--radius-lg);
        color: var(--color-neutral-050);
        font-size: var(--text-lg);
        font-weight: var(--font-weight-regular);
        resize: none;
        outline: none;
    }

    &__submit {
        padding: var(--space-3) var(--space-10);
        justify-self: right;
        font-size: var(--text-lg);
        font-weight: var(--font-weight-semibold);
        background-color: var(--color-primary-300);
        border: none;
        border-radius: var(--radius-md);
        color: var(--color-neutral-900);
    }

    &__input::placeholder {
        color: var(--color-neutral-700);
    }
}