@use 'variables' as *;

.education {
    display: grid;
    gap: var(--space-5);
    padding: var(--space-5);

    &__heading {
        color: var(--color-neutral-050);
        font-size: var(--text-4xl);
    }

    &__cards {
        display: grid;
        gap: var(--space-5);

        @media (min-width: $breakpoint-sm) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__card {
        background-color: var(--color-neutral-900);
        padding: var(--space-5);
        border-left: solid 10px var(--color-primary-500);

        display: grid;
        gap: var(--space-2);
    }

    &__achievement {
        font-size: var(--text-2xl);
        color: var(--color-neutral-050);
    }

    &__name {
        color: var(--color-neutral-500);
    }
}