.footer {
    padding: var(--space-5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__message {
        font-size: var(--text-xs);
        color: var(--color-neutral-500);

        span {
            color: var(--color-neutral-300);
        }
    }
}