.header {
    padding: var(--space-5);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    &__logo {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
        color: var(--color-neutral-050);

        span {
            color: var(--color-primary-500);
        }
    }

    &__nav {
        display: flex;
        gap: var(--space-2);
    }

    &__link {
        text-decoration: none;
        color: var(--color-neutral-050);
        padding: var(--space-2) var(--space-3);
    }

    &__link:hover {
        text-decoration: none;
        color: var(--color-neutral-400);
        transition: 0.2s;
    }

    &__active {
        background-color: var(--color-neutral-900);
        border-radius: var(--radius-md);
        color: var(--color-primary-300);
    }

    &__active:hover {
        color: var(--color-primary-300);
    }
}