.header {
    padding: var(--space-5);
    width: 100%;

    background-color: var(--color-neutral-950);

    display: flex;
    justify-content: space-between;

    position: absolute;

    &__logo {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
        color: var(--color-neutral-050);

        span {
            color: var(--color-primary-500);
        }
    }

    &__nav {
        display: flex;
        gap: var(--space-5);
    }

    &__link {
        text-decoration: none;
        color: var(--color-neutral-050);
    }

    &__link:hover {
        text-decoration: none;
        color: var(--color-neutral-400);
        transition: 0.2s;
    }

    &__active {
        color: var(--color-primary-300);
    }

    &__active:hover {
        color: var(--color-primary-300);
    }
}