@use 'variables' as *;

.hero {
    display: grid;
    padding: var(--space-5);
    gap: var(--space-5);

    @media (min-width: $breakpoint-sm) {
        grid-template-columns: 2fr 1fr;
    }

    &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;

        @media (min-width: $breakpoint-sm) {
            order: 1;
        }
    }

    &__content {
        display: grid;
        gap: var(--space-2);

        @media (min-width: $breakpoint-sm) {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font-size: var(--text-7xl);
        line-height: var(--text-7xl--line-height);
        color: var(--color-neutral-050);
    }

    &__name {
        color: var(--color-primary-500);
    }

    &__subtitle {
        font-size: var(--text-2xl);
        color: var(--color-neutral-400);
    }
}