.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-5);
    gap: var(--space-12);

    min-height: 100vh;
    align-items: center;

    @media (min-width: 51rem) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        min-height: 100vh;
        align-items: center;
    }

    &__image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        margin-inline: auto;
        border: 5px solid var(--color-primary-500);
        padding: 0.75rem;

        @media (min-width: 51rem) {
            border-radius: 0;
            border: none;
            padding: 0rem;
            box-shadow: 0.75rem 0.75rem var(--color-primary-700);
            order: 1;
        }

        @media (min-width: 75rem) {
            width: 350px;
            height: 350px;
        }
    }

    &__content {
        display: grid;
        gap: var(--space-2);
        text-align: center;

        @media (min-width: 51rem) {
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }

    &__title {
        font-size: var(--text-5xl);
        line-height: var(--text-5xl--line-height);
        color: var(--color-neutral-050);

        @media (min-width: 50rem) {
            font-size: var(--text-6xl);
            line-height: var(--text-6xl--line-height);
        }

        @media (min-width: 75rem) {
            font-size: var(--text-8xl);
            line-height: var(--text-8xl--line-height);
        }
    }

    &__name {
        color: var(--color-primary-500);
    }

    &__subtitle {
        font-size: var(--text-xl);
        color: var(--color-neutral-400);

        @media (min-width: 75rem) {
            font-size: var(--text-3xl);
            line-height: var(--text-3xl--line-height);
        }
    }

    &__links {
        display: flex;
        justify-content: center;
        gap: var(--space-3);

        @media (min-width: 51rem) {
            justify-content: start;
        }
    }

    &__svg {
        display: block;
        width: 1.5rem;
        color: var(--color-neutral-700);

        @media (min-width: 75rem) {
            width: 2rem;
        }
    }
}