main {
    margin-inline: auto;

    display: grid;
    gap: var(--space-12);

    @media (min-width: 30rem) {
        max-width: 30rem;
    }

    @media (min-width: 51rem) {
        max-width: 51rem;
    }

    @media (min-width: 75rem) {
        max-width: 75rem;
    }
}