.tech-stack {
    display: grid;
    gap: var(--space-5);
    padding: var(--space-5);

    &__heading {
        color: var(--color-neutral-050);
        font-size: var(--text-4xl);
    }

    &__category {

        display: grid;
        gap: var(--space-2);
    }

    &__subheading {
        font-size: var(--text-2xl);
        color: var(--color-secondary-500);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__tag {
        color: white;
        padding: 1rem 1rem;
        background-color: var(--color-neutral-900);
    }

    &__tag:hover {
        background-color: var(--color-primary-700);
        transition: background-color 0.2s ease-in-out;
    }
}