.tech-stack {
    display: grid;
    gap: var(--space-5);
    padding: var(--space-5);

    &__heading {
        color: var(--color-neutral-050);
        font-size: var(--text-4xl);
        text-align: center;

        @media (min-width: 50rem) {
            text-align: left;
        }

        @media (min-width: 75rem) {
            font-size: var(--text-3xl);
            line-height: var(--text-3xl--line-height);
        }
    }

    &__category {
        display: grid;
        gap: var(--space-5);
    }

    &__subheading {
        font-weight: var(--font-weight-regular);
        font-size: var(--text-2xl);
        color: var(--color-primary-200);
        text-align: center;

        @media (min-width: 50rem) {
            text-align: left;
        }

        @media (min-width: 75rem) {
            font-size: var(--text-xl);
            line-height: var(--text-xl--line-height);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        @media (min-width: 50rem) {
            justify-content: start;
        }

        @media (min-width: 75rem) {
            gap: 1.5rem;
        }
    }

    &__tag {
        color: var(--color-neutral-050);
        padding: 1rem 1.5rem;
        background-color: var(--color-neutral-900);

        display: flex;
        align-items: center;
        gap: var(--space-1);

        img {
            width: 20px;
        }

        @media (min-width: 75rem) {
            font-size: var(--text-lg);
        }
    }

    &__tag:hover {
        transition: background-color 0.2s ease-in-out;
    }
}