* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--color-neutral-950);

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-regular);
    font-style: normal;
}

h1 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
    color: var(--color-neutral-050);
}

h2 {
    font-size: var(--text-3xl);
    line-height: var(--text-5xl--line-height);
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-050);
}

h3 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-050);
}

p {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    color: var(--color-neutral-300);
}

header {
    padding: var(--space-5);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    max-width: 1200px;
    margin-inline: auto;
}

footer {
    padding: var(--space-5);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: var(--text-xs);
    color: var(--color-neutral-500);
}

.button {
    padding: var(--space-3) var(--space-5);
    border-radius: var(--radius-md);
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.button-primary {
    background-color: var(--color-primary-500);
    color: var(--color-primary-950);
    border: 2px solid transparent;
}

.button-primary:hover {
    background-color: var(--color-primary-600);
}

.button-secondary {
    background-color: var(--color-neutral-950);
    border: 2px solid var(--color-primary-500);
    color: var(--color-primary-500);
}

.button-secondary:hover {
    border-color: var(--color-primary-600);
    color: var(--color-primary-600);
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-5);
    padding: var(--space-5);
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
}

.hero-actions {
    display: flex;
    gap: var(--space-3);
}

.hero-profile img {
    width: 100%;
    border-radius: var(--radius-lg);
}

@media (max-width: 900px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero-content {
        align-items: center;
    }

    .hero-profile {
        order: -1;
        justify-self: center;
    }

    .hero-profile img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}