* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}





body {
    background-color: var(--color-neutral-950);

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-regular);
    font-style: normal;
}





header {
    padding: var(--space-5);
}





.logo {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-neutral-050);
}

.logo span {
    color: var(--color-primary-500);
}





main {
    max-width: 900px;
    margin-inline: auto;
}





.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: var(--space-5);
    gap: var(--space-5);
}





.hero-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
}

.title {
    font-size: var(--text-2xl);
    color: var(--color-neutral-500);
}

h1 {
    font-size: var(--text-7xl);
    line-height: var(--text-7xl--line-height);
    color: var(--color-neutral-050);
}

h1 span {
    color: var(--color-primary-500);
}

.description {
    color: var(--color-neutral-500);
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-5);
}

.stat {
    padding: var(--space-5);
    border-radius: var(--radius-md);
    background-color: var(--color-neutral-900);
    text-align: center;
}

.stat span {
    font-size: var(--text-6xl);
    color: var(--color-neutral-050);
}





.hero-profile {
}

.hero-profile img {
    width: 100%;
    border-radius: var(--radius-lg);
}





footer {
    padding: var(--space-5);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: var(--text-xs);
    color: var(--color-neutral-500);
}





@media (max-width: 500px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero-content {
        align-items: center;
    }

    .hero-profile {
        order: -1;
        justify-self: center;
    }

    .hero-profile img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}