@use 'root';
@use 'body';
@use 'header';
@use 'main';
@use 'hero';
@use 'tech-stack';
@use 'education';
@use 'timeline';
@use 'about';
@use 'hobbies';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}