* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // Primary Colors
    --color-primary-050: hsl(186, 100%, 94%);
    --color-primary-100: hsl(185, 94%, 87%);
    --color-primary-200: hsl(184, 80%, 74%);
    --color-primary-300: hsl(184, 65%, 59%);
    --color-primary-400: hsl(185, 57%, 50%);
    --color-primary-500: hsl(185, 62%, 45%);
    --color-primary-600: hsl(184, 77%, 34%);
    --color-primary-700: hsl(185, 81%, 29%);
    --color-primary-800: hsl(185, 84%, 25%);
    --color-primary-900: hsl(184, 91%, 17%);
    --color-primary-950: hsl(184, 100%, 12%);

    // Secondary Colors
    --color-secondary-050: hsl(48, 100%, 97%);
    --color-secondary-100: hsl(48, 100%, 93%);
    --color-secondary-200: hsl(48, 100%, 85%);
    --color-secondary-300: hsl(48, 100%, 75%);
    --color-secondary-400: hsl(48, 100%, 65%);
    --color-secondary-500: hsl(48, 100%, 55%);
    --color-secondary-600: hsl(48, 100%, 45%);
    --color-secondary-700: hsl(48, 100%, 35%);
    --color-secondary-800: hsl(48, 100%, 27%);
    --color-secondary-900: hsl(48, 100%, 20%);
    --color-secondary-950: hsl(48, 100%, 13%);

    // Neutral Colors
    --color-neutral-050: hsl(210, 1%, 95%);
    --color-neutral-100: hsl(210, 1%, 90%);
    --color-neutral-200: hsl(210, 2%, 80%);
    --color-neutral-300: hsl(210, 3%, 70%);
    --color-neutral-400: hsl(210, 4%, 60%);
    --color-neutral-500: hsl(210, 5%, 50%);
    --color-neutral-600: hsl(210, 6%, 40%);
    --color-neutral-700: hsl(210, 7%, 30%);
    --color-neutral-800: hsl(210, 8%, 20%);
    --color-neutral-900: hsl(210, 9%, 15%);
    --color-neutral-950: hsl(210, 10%, 10%);

    // Font weights
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    // Font Sizes
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 3.75rem;
    --text-7xl: 4.5rem;
    --text-8xl: 6rem;
    --text-9xl: 8rem;

    // Line Height
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-base--line-height: calc(1.5 / 1);
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl--line-height: 1;
    --text-6xl--line-height: 1;
    --text-7xl--line-height: 1;
    --text-8xl--line-height: 1;
    --text-9xl--line-height: 1;

    // Shadows
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.05), 0 8px 10px rgba(0, 0, 0, 0.1);

    // Radius
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;

    // Spacing
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;

    // Break points
    --breakpoint-xs: 576px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1400px;
}